@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');

body {
    height: "100vh";
    width: "100vw";
    background-color: #002b36;
    font-family: Inter;
    color: #fdf6e3;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: "100vh";
    width: "100vw";
    padding-top: 3em;
}

.container h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 0.5em;
}
.merry {
    width: 100%;
    max-width: 50em;
    height: 15em;
    z-index: -3;
    animation: sail 3s infinite;
}
.overlay {
    position: absolute;
    top: 11em;
    left: 0;
    width:100%;
    display: flex;
    justify-content: center;
}
.ship {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.waves {
    position: absolute;
    width: 30em;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    animation: sail 3s infinite;
    animation-delay: 200ms;
    margin-bottom: 0;
    
}
.waves-inv {
    position: absolute;
    width: 30em;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: sail-inv 3s infinite;
    animation-delay: 200ms;
    z-index: -2;
    transform: scaleX(-1);
}

.w-1 {
    animation-delay: 700ms !important;
}
.w-2 {
    z-index: -4 !important;
    top: -1em;
    animation-delay: 230ms !important;
}

.container p {
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 1em;
    max-width: 50%;
    text-align: center;
}

.container a {
    text-decoration: none;
    color: #fdf6e3;
    font-size: 1.2em;
    font-weight: 500;
    padding: 0.5em 1em;
    border: 1px solid #fdf6e3;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.container a:hover {
    background-color: #fdf6e3;
    color: #002b36;
}

@keyframes sail {
    0% {
        transform: translateY(0);        
    }
    50% {
        transform: translateY(-1em);

    }
    100% {
        transform: translateY(0) ;

    }
}

@keyframes sail-inv {
    0% {
        transform: translateY(0) scaleX(-1);
        
    }
    50% {
        transform: translateY(-1em) scaleX(-1);

    }
    100% {
        transform: translateY(0) scaleX(-1);

    }

}